/*color scheme: https://kuler.adobe.com/Copy-of-Wildflower-simone-color-theme-3999099/edit/?copy=true&base=3&rule=Custom&selected=2&name=Copy%20of%20Copy%20of%20Wildflower%20simone&mode=rgb&rgbvalues=0.011764705882352941,0.3764705882352941,0.4196078431372549,0.41568627450980394,0.6588235294117647,0.6470588235294118,0.996078431372549,0.9490196078431372,0.8470588235294118,0.9490196078431372,0.5529411764705883,0.47843137254901963,0.8588235294117647,0.35294117647058826,0.3333333333333333&swatchOrder=0,1,2,3,4*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-size: 18px;
}
#map {
  /*position: absolute;*/
  height: 600px;
  width: 100%;
  top: 50px;
  left: 0px;
}
.buttons {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: #FEF2D8;
}
#addTag, #saveTags, #tagInput, #communityMap, #personalMap {
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #6AA8A5;
  color: #FEF2D8;
}
#addTag {
  position: absolute;
  top: 0px;
  left: 0px;
}
#tagInput {
  position: absolute;
  top: 5px;
  left: 110px; 
  height: 35px;
  width: 250px;
  line-height: 35px;
  background: #FEF2D8;
  color: #6AA8A5;
  text-align: left;
}
#saveTags {
  position: absolute;
  top: 0px;
  left: 365px; 
}
#personalMap {
  position: absolute;
  width: 150px;
  top: 0px;
  right: 150px;
  background: #DB5A55;
}
#communityMap {
  position: absolute;
  width: 150px;
  top: 0px;
  right: 0px;
  background: #F28D7A;
}
